.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  --foreground-hex: #ffffff;
  --background-start-hex: #0c1314;
  --background-end-hex: #1d2020;
  --background-gradient: linear-gradient(
    var(--background-start-hex) 0%,
    var(--background-end-hex) 100%
  );

  background: var(--background-gradient);
}

.main {
  width: 80vw;
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2rem;
  width: 100%;
  height: 60vh;

  display: flex;
  justify-content: center;

  .form {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box {
      width: 350px;
    }

    .havingAccount {
      display: flex;
      width: 100%;
      padding-top: 1rem;
      justify-content: center;
      font-size: small;

      & p {
        margin-left: 8px;
        color: var(--accent-100);
        font-weight: 600;
        cursor: pointer;
      }
    }

    .forgot {
      display: inline-block;
      width: 100%;
      text-align: end;
      font-size: small;
    }
  }

  .laptop {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1072px) {
  .main {
    width: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    width: 100vh;

    .content {
      .laptop {
        display: none;
      }
    }
  }
}
